

body {
    font-family: sans-serif;
}

.link-header {
    color: black;
    text-decoration: none;
    margin-left: 120px;
    font-size: 19px;
}

.link-header:hover {
    transition: 0.4s;
    border-bottom: 2px solid orangered;
}

main {
    text-align: centr;
}
